@font-face {
  font-family: "Montserrat-reg";
  font-display: swap;
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-bold";
  font-display: swap;
  src: url("fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-light";
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ultra-light";
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Montserrat-UltraLight.ttf") format("truetype");
}
html {
  font-size: 16px;
}

body {
  color: #7D8687;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  font-family: "Montserrat-reg", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

body, .smooth-container {
  scroll-behavior: smooth;
}

p {
  font-size: 16px;
  line-height: 1.3;
  font-weight: normal;
  margin-top: 0;
}
p b {
  font-weight: bold;
}
p a {
  text-decoration: underline;
}

figure {
  margin: 0;
}

.clear {
  clear: both;
}

.hidden_a {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.wrapper {
  position: relative;
}

.wrapper.wrapper-home {
  padding-top: 148px;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 40px;
}
@media only screen and (max-width: 768px) {
  .wrap {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 1250px) {
  .wrap {
    max-width: 1350px;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

.row.row-content {
  margin-left: 0.85rem;
  margin-right: 0.85rem;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^=col-],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row.row-small {
  margin-right: -0.45rem;
  margin-left: -0.45rem;
}

.row.row-small > [class^=col-],
.row.row-small > [class*=" col-"] {
  padding-right: 0.45rem;
  padding-left: 0.45rem;
}

.row.row-big {
  margin-right: -2rem;
  margin-left: -2rem;
}

.row.row-big > [class^=col-],
.row.row-big > [class*=" col-"] {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media only screen and (max-width: 550px) {
  .row.row-big {
    margin-right: -15px;
    margin-left: -15px;
  }

  .row.row-big > [class^=col-],
.row.row-big > [class*=" col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }

  .row.row-content {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}
@media only screen and (max-width: 800px) {
  .row.row-content {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
}
* {
  outline: none;
}

a, button {
  transition: all 0.3s ease;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

@media (max-width: 1500px) {
  html, body, p {
    font-size: 16px;
  }
}
.sub-title {
  font-size: 1.4rem;
  color: #7D2778;
  font-family: "Montserrat-bold", sans-serif;
  margin: 0 0 2.3rem;
  line-height: 2.5;
}

.title-1 {
  font-size: 2.2rem;
  color: #7D2778;
  font-family: "Montserrat-bold", sans-serif;
  margin: 0 0 2rem;
}

.f-al-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gradient-section--xs {
  width: 100%;
  height: 2rem;
  background: -moz-linear-gradient(left, #006EAF 0%, #8B2680 80%);
  background: -o-linear-gradient(left, #006EAF 0%, #8B2680 80%);
  background: -ms-linear-gradient(left, #006EAF 0%, #8B2680 80%);
  background: linear-gradient(to left, #006EAF 0%, #8B2680 80%);
}

.gradient-section--md {
  width: 100%;
  height: 2.6rem;
  background: -moz-linear-gradient(left, #006EAF 0%, #8B2680 80%);
  background: -o-linear-gradient(left, #006EAF 0%, #8B2680 80%);
  background: -ms-linear-gradient(left, #006EAF 0%, #8B2680 80%);
  background: linear-gradient(to left, #006EAF 0%, #8B2680 80%);
}

header {
  padding: 1rem 0;
}
header .wrap {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 550px) {
  header .logo {
    width: 60%;
    display: block;
  }
  header .logo img {
    width: 100%;
  }
}
header .logo {
  -webkit-flex: 1;
  flex: 1;
}
header .nav {
  -webkit-flex: 2;
  flex: 2;
  display: none;
}
@media only screen and (min-width: 998px) {
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
header .nav__wrap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.85rem;
  padding: 0;
  position: relative;
}
header .nav__list {
  list-style: none;
  margin: 0 20px 0 0;
}
header .nav__list i {
  vertical-align: middle;
  font-size: 12px;
}
header .nav__list--down > .sub-menu {
  position: absolute;
  background: rgba(239, 239, 239, 0.9);
  min-width: 200px;
  padding: 2rem 1rem 2.2rem;
  border-radius: 20px 4px 20px 4px;
}
header .nav__list--down:hover .sub-menu {
  display: block;
}
header .nav__list--down > .sub-menu li {
  display: block;
  position: relative;
}
header .nav__item {
  color: inherit;
}
header .nav__item img {
  vertical-align: bottom;
}
header .nav__btn {
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding: 0.6rem 2rem;
  color: #fff;
  font-family: "Montserrat-bold", sans-serif;
  cursor: pointer;
  padding: 0 0.6rem;
  background-color: #FF4E00;
  border: none;
  font-family: "Montserrat-reg", sans-serif;
  margin-left: 17px;
}
header .nav__btn a {
  color: #fff;
  font-size: 0.83rem;
}
header .nav__btn:hover {
  background-color: #ff834d;
}

.sub-menu {
  display: none;
  z-index: 10;
}
.sub-menu__list {
  list-style: none;
  padding: 8px 0 8px 20px;
}
.sub-menu__list:hover {
  background-color: #f7f7f7;
  border-radius: 20px;
}
.sub-menu__item {
  display: block;
  color: inherit;
}
.sub-menu__item:hover {
  color: #007FE9;
}

.info {
  background-color: #007FE9;
  height: 3rem;
}
@media only screen and (min-width: 998px) {
  .info {
    height: 2.7rem;
  }
}
.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.info__content img {
  width: 18px;
  margin-right: 10px;
  display: none;
}
@media only screen and (min-width: 550px) {
  .info__content img {
    display: block;
  }
}
.info__content p {
  margin: 0;
  color: #fff;
  font-size: 0.85rem;
  letter-spacing: -1.2px;
  text-align: center;
}
@media only screen and (min-width: 550px) {
  .info__content p {
    letter-spacing: -0.9px;
    font-size: 0.9rem;
  }
}
.info__content a {
  color: #fff;
  font-weight: bold;
}

@media only screen and (max-width: 998px) {
  .mb-menu {
    width: 40px;
    height: 45px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 1s ease-in-out;
  }
}
@media only screen and (max-width: 998px) {
  .mb-menu__hamburger {
    width: 80%;
    height: 5px;
    background-color: #455A64;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .mb-menu__hamburger::before, .mb-menu__hamburger::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 5px;
    background-color: #455A64;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .mb-menu__hamburger::before {
    transform: translateY(-10px);
  }
  .mb-menu__hamburger::after {
    transform: translateY(10px);
  }
}
.mb-menu.activo .mb-menu__hamburger {
  transform: translateX(-20px);
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.mb-menu.activo .mb-menu__hamburger::before {
  transform: rotate(45deg) translate(17px, -17px);
}
.mb-menu.activo .mb-menu__hamburger::after {
  transform: rotate(-45deg) translate(17px, 17px);
}
.mb-menu.activo ~ .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12vh;
  right: 0;
  width: 100%;
  height: 90vh;
  background-color: white;
  z-index: 10;
}
.mb-menu.activo ~ .nav .nav__wrap-list {
  flex-direction: column;
  align-items: center;
  transform: translateY(-20vh);
}
.mb-menu.activo ~ .nav .nav__wrap-list .nav__list {
  margin: 0;
  padding: 1rem 0;
}
.mb-menu.activo ~ .nav .nav__wrap-list .nav__item {
  font-size: 1.3rem;
}
.mb-menu.activo ~ .nav .nav__btn {
  max-width: 300px;
  margin: 0;
  padding: 1rem 2rem;
  transform: translateY(-15vh);
}
.mb-menu.activo ~ .nav .nav__btn a {
  font-size: 1rem;
}

.bg-hero {
  width: 100%;
  height: 100vh;
  background: url("../images/banner-principal.png") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (min-width: 1075px) {
  .bg-hero {
    height: 78vh;
  }
}

.box-banner {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 1.5rem;
  position: relative;
}
@media only screen and (min-width: 998px) {
  .box-banner {
    padding: 2rem;
    width: 66%;
  }
}
.box-banner__title {
  font-size: 1.5rem;
  margin: 0 0 0.8rem;
  line-height: 0.9;
  color: #555151;
}
@media only screen and (min-width: 998px) {
  .box-banner__title {
    margin: 0 0 1.5rem;
    font-size: 2.2rem;
  }
}
.box-banner__title span {
  font-size: 0.95rem;
  margin: 0;
}
@media only screen and (min-width: 998px) {
  .box-banner__title span {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 800px) {
  .box-banner__block--1 {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .box-banner__block--2 {
    display: none;
  }
}
.box-banner__content {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat-light", sans-serif;
  color: #555151;
}
.box-banner__img {
  text-align: center;
}
@media only screen and (min-width: 550px) {
  .box-banner__img {
    -webkit-flex: 1;
    flex: 1;
  }
}
.box-banner__img img {
  width: 130px;
  height: 70px;
  object-fit: contain;
}
.box-banner__wrap-ul {
  padding: 0 1.6rem;
}
@media only screen and (min-width: 550px) {
  .box-banner__wrap-ul {
    -webkit-flex: 3;
    flex: 3;
  }
}
.box-banner__wrap-ul ul {
  padding: 0;
}
.box-banner__item {
  list-style: none;
  position: relative;
  letter-spacing: -0.9px;
  font-size: 0.95rem;
  padding-bottom: 5px;
  padding-left: 20px;
}
.box-banner__item::before {
  content: "";
  position: absolute;
  background: url("../images/check-xs.svg") no-repeat;
  width: 20px;
  height: 20px;
  left: 0;
  top: 2px;
}
.box-banner__item--morado::before {
  content: "";
  position: absolute;
  background: url("../images/check-morado.svg") no-repeat;
  width: 20px;
  height: 20px;
  left: 0;
  top: 2px;
}
@media only screen and (min-width: 550px) {
  .box-banner__tarifas {
    -webkit-flex: 1.3;
    flex: 1.3;
  }
}
.box-banner__tarifas p {
  margin-bottom: 4px;
}
.box-banner__tarifas strong {
  font-size: 1.5rem;
  font-family: "Montserrat-bold", sans-serif;
}
.box-banner__tarifas--txt-1 {
  font-family: "Montserrat-reg", sans-serif;
  color: #7D2778;
  letter-spacing: -0.8px;
  position: relative;
}
.box-banner__tarifas--txt-1::after {
  content: "";
  background: url("../images/arrow-morado.svg") no-repeat;
  position: absolute;
  width: 15px;
  height: 20px;
  right: -22px;
  top: 2px;
  transform: rotate(270deg);
}
.box-banner__tarifas--txt-2 {
  font-family: "Montserrat-reg", sans-serif;
  color: #01B0D3;
  letter-spacing: -0.8px;
  position: relative;
}
.box-banner__tarifas--txt-2::after {
  content: "";
  background: url("../images/arrow-celeste.svg") no-repeat;
  position: absolute;
  width: 15px;
  height: 20px;
  right: -22px;
  top: 2px;
  transform: rotate(270deg);
}

.swiper-container {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 800px) {
  .swiper-container {
    display: none;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-active {
  width: 25px;
  border-radius: 10px;
  background: #007FE9;
  opacity: 1;
}

.box-banner .swiper-pagination {
  position: static;
}

main {
  padding: 4rem 0 2rem;
}
@media only screen and (min-width: 998px) {
  main {
    padding: 7rem 0 4rem;
  }
}

.planes {
  align-items: center;
}
@media only screen and (min-width: 998px) {
  .planes--reverse {
    flex-direction: row-reverse;
  }
}
.planes__img img {
  object-fit: cover;
  width: 100%;
}
.planes__content {
  padding: 2rem 2.5rem;
}
.planes__wrap-list {
  padding: 0;
  margin: 1.8rem 0;
}
.planes__list {
  list-style: none;
  background: url("../images/check-xs.svg") left top no-repeat;
  padding: 0 30px 8px 0;
  padding-left: 30px;
}
.planes__link {
  color: #01B0D3;
  position: relative;
  font-family: "Montserrat-bold", sans-serif;
}
.planes__link--celeste::after {
  content: "";
  background: url("../images/arrow-celeste.svg") no-repeat;
  position: absolute;
  transform: rotate(270deg);
  width: 25px;
  height: 20px;
  top: -2px;
  right: -40px;
}

.support {
  background-color: #007FE9;
  margin-bottom: 5rem;
}
.support__wrapper {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 550px) {
  .support__wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    padding: 2rem 0;
  }
}
.support__txt {
  -webkit-flex: 1;
  flex: 1;
  color: #fff;
}
@media only screen and (max-width: 550px) {
  .support__txt {
    text-align: center;
  }
}
.support__txt h5 {
  font-size: 1.5rem;
  margin: 0 0 0.8rem;
}
.support__txt p {
  font-family: "Montserrat-light", sans-serif;
  font-family: 1.25rem;
  margin: 0;
}
.support__img {
  display: none;
}
@media only screen and (min-width: 998px) {
  .support__img {
    height: 100%;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    display: block;
  }
}
.support__img img {
  height: inherit;
}
.support__btn {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
.support__btn .btn--support {
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding: 0.6rem 2rem;
  color: #fff;
  font-family: "Montserrat-bold", sans-serif;
  cursor: pointer;
  border: none;
  padding: 1.2rem 2.5rem;
}
.support__btn .btn--support a {
  color: #007FE9;
}
.support__btn .btn--support:hover {
  background-color: #d9d9d9;
}

.footer {
  background-color: #007FE9;
  padding: 2.4rem 0;
}
.footer__content {
  width: 100%;
  text-align: center;
}
.footer__link {
  color: #fff;
  text-decoration: underline;
  position: relative;
  font-size: 1.2rem;
}
.footer__link::before {
  content: "";
  background: url("../images/ic-link-white.svg") no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  left: -23px;
  top: 6px;
}

/*# sourceMappingURL=styles.css.map */
